.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
.venv311/

# Python Tools
.ipynb_checkpoints
*.ipynb
*.vscode/
*.idea/
*.mypy_cache/
*.pytest_cache/
.pytest_cache/
*.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
*.pyre/
.pytype/

# FastAPI / Web related
*.db
*.sqlite3
*.sqlite
*.env
.env.local
.env.*.local
*.pem
*.key
*.crt

# Airflow
airflow.cfg
unittests.cfg
logs/
*.log
*.pid
*.db
*.sqlite
airflow_home/
airflow_local_settings.py
airflow_plugins/
__pycache__/

# Docker
*.dockerfile
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.local.yml
docker-compose.local.yaml
*.log
*.pid
*.env
docker/.env
docker/.env.*

# MLflow & WandB
mlruns/
wandb/
*.wandb
*.h5
*.ckpt
*.pt
*.pickle
*.pkl

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.DS_Store

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Misc
*.bak
*.tmp
*.swp
*.swo
